# 1. ignore virtual env
.venv/

# 2. ignore IDE settings of PyCharm
.idea/

# 3. ignore cache files
__pycache__/
*.pyc

# 4. ignore Maya thumbnails
.mayaSwatches/

# 5. ignore generated settins.json
/src/dg_editor/settings.json
